*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    overflow: hidden;
}

.main{
    display: flex;
}

.left{
    width: 25vw;
    height: 99vh;
    position: relative;
    margin: 0.658vw;
}

.home{
    color: white;
    margin-bottom: 0.658vw;
    border-radius: 0.329vw;
    padding: 1.317vw;
    background-color: #121212;
}

.home img{
    filter: invert(1);
}

.home .logo-close{
    display: flex;
    justify-content: space-between;
}

#close{
    display: none;
}

.home ul li{
    width:1.514vw;
    display: flex;
    align-items: center;
    gap:0.987vw;
    padding-top:1.646vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.library{
    margin-bottom: 0.658vw;
    height: 0px;
}

.library .heading img{
    filter: invert(1);
    width:1.514vw;
}

.library .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 0.329vw 0.329vw 0px 0px;
    padding: 1.317vw;
    gap: 0.197vw;
    background-color: #121212;
}

.library .heading ul li{
    display: flex;
    align-items: center;
    gap:0.987vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.library .songlist{
    color: white;
    background-color: #212121;
    border-radius: 0px 0px 0.329vw 0.329vw;
    padding: 0.658vw;
    overflow: auto;
    height: 80%;
}

.songlist ul{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.songlist ul li{
    padding: 0.658vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-footer{
    margin-bottom: 0.658vw;
    border-radius: 0.329vw;
    padding: 1.317vw;
    background-color: #121212;
    position: absolute;
    bottom: 0px;
}

.left-footer-links{
    display: flex;
    color: white;
    gap: 3.292vw;
    text-decoration: none;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6875rem;
    align-items: center;
    row-gap: 1.317vw;
}

.left-footer-links a{
    text-decoration: none;
    color: white;
}

.left-footer .lan{
    display: flex;
    color: white;
    width: fit-content;
    align-items: center;
    padding: 0.461vw 0.987vw;
    border-radius:1.646vw;
    margin: 1.317vw 0px;
    border: 1px solid white;
}

.left-footer .lan img{
    filter: invert(1);
    width:0.987vw;
}

.left-footer .lan p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    padding-left: 0.329vw;
    font-weight: 600;
}

.right{
    width: 75vw;
    height: 98vh;
    background-color: #121212;
    border-radius: 0.329vw;
    margin: 0.658vw;
    margin-left: 0vw;
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 0vw 5vw;
}

.menu{
    display: none;
}

.arrow{
    filter: invert(1);
    display: flex;
    gap:30px;
}

.arrow svg{
    width: 16px;
}

.signup-login{
    display: flex;
}

.signup{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: transparent;
    color: #6a6a6a;
    border: none;
    outline: none;
    padding:0.987vw 1.975vw;
    border-radius: 3.292vw;
}

.login{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding:0.987vw 1.975vw;
    border-radius: 3.292vw;
}

.playlists h2{
    color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-left:1.646vw;
}

.cardcontainer{
    height: 60vh;
    width: 96%;
    margin:1.646vw;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardcontainer .card{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.329vw;
    position: relative;
    width: max(15vw, 15vh);
    height: fit-content;
}

.card h3{
    font-size: 1.2rem;
    padding-top: 0.5vw;
    color: white;
    text-align: center
}

.card p{
    font-size: 0.9rem;
    padding-top: 0.329vw;
    color: #6a6a6a;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play-btn{
    background-color: black;
    border: none;
    outline: none;
    position: relative;
    height: 3.95vw;
    width: 3.95vw;
    border-radius: 50%;
}

.play{
    position: absolute;
    top: 15.681vw;
    right: 0.825vw;
    display: flex;
    align-items: center;
    opacity: 0;
}

.card:hover .play{
    opacity: 1;
    transform: translate(0px, -4.677vw);
    transition: all 0.33s ease-in-out;
}

.playbar{
    width: 90%;
    position: absolute;
    bottom: 0.658vw;
    background-color: black;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0.329vw;
    height: auto;
}

.playbar .functions{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 20px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.songname{
    width: 25%;
}

.playbar .buttons{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 25px;
}

.playbar .bar{
    width: 100%;
    background-color: #e8eaed;
    height: 5px;
    position: relative;
}

.bar .circle{
    background-color: #6a6a6a;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0%;
    transform: translate(-50%, -40%);
}

.bar .progress{
    background-color: #1db954;
    height: 5px;
    width: 0%;
}

@media screen and (max-width: 900px) {
    .left{
        width: 50vw;
        left: -200%;
        position: absolute;
        height: 75vh;
    }

    .right{
        width: 100vw;
        margin-left: 0.658vw;
    }

    #close{
        display: block;
    }

    .left-footer{
        display: none;
    }

    .menu{
        display: block;
    }
}